<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style4.css">
    <title>Contact Us</title>
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>
    <h1>GAMEROK</h1>
    <a class="logo" href="/"><img src="../static/logo.jpg"> </a>
    <p class="detail">
        For more details contact us
    </p>
    <table class="contact">
        <tbody>
        <tr>
            <td>Shrikrishna R</td>
            <td>RA2211032020012</td>
            <td>sr6924@srmist.edu.in</td>
        </tr>
        <tr>
            <td>Harisankar R</td>
            <td>RA2211032020039</td>
            <td>rh2403@srmist.edu.in</td>
        </tr>
        <tr>
            <td>Navvin V S</td>
            <td>RA2211032020017</td>
            <td>ns7178@srmist.edu.in</td>
        </tr>
        </tbody>
    </table><br />
    <p class="video">To learn more about <a href="/contact/video">GAMEROK</a></p>
    <p class="copyright"><br>&copy; Copyrights 2023,GAMEROK</p>

</body>
</html>