<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style1.css">
    <title>GAMEROK</title>
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>
    <button type="submit" class="signin" onclick="window.location.href='/login';">SIGN IN</button>
    <h1>GAMEROK</h1>
    <div class="container">
        <form action="/search/<search>" class="search-bar" method="post">
            <input type="text" placeholder="SEARCH GAMES" name="search">
            <button type="submit" value="search"><img src="../static/search.png"></button>
        </form>
    </div>
    <button type="button" class="contact" onclick="window.location.href='/contact';">Contact US</button>
    <p class="copyright">&copy; GAMEROK</p>

    <script src="myscripts1.js"></script>
    <div id="root"></div>
</body>
</html>