<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style3.css">
    <title>SIGN-IN</title>
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>
<div class="login-container">
        <h1>Login</h1>
        <form action="" method="post">
            <div class="input-container">
                <label for="username" class="label-container">Username or Email:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-container">
                <label for="password" class="label-container">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember" class="label-container">Remember Me</label>
            </div>


            <div class="button-container">
                <button type="submit">Login</button>
            </div>
        </form>

        <div class="signup-link">
            Don't have an account? <a href="/signup">Sign Up</a>
        </div>
    </div>

</body>
</html>